<div class="content">



  <div class="menu">

    <div class="menu-item">
      <p-button icon="pi pi-play-circle" [disabled]="disabledStart()" pTooltip="Inicar Proceso" tooltipPosition="top"
        (onClick)="start()" />
    </div>
    <div class="menu-item">
      <p-button icon="pi pi-pause-circle" [disabled]="disabledPause()" pTooltip="Pausar Proceso" tooltipPosition="top"
        (onClick)="pause()" />
    </div>
    <div class="menu-item">
      <p-button icon="pi pi-stop-circle" [disabled]="disabledStop()" pTooltip="Detener Proceso" tooltipPosition="top"
        (onClick)="stop()" />
    </div>
    <div class="menu-item">
      <p-button icon="pi pi-replay" [disabled]="disabledReset()" pTooltip="Reinicar Proceso" tooltipPosition="top"
        (onClick)="reset()" />
    </div>
    <div class="menu-item">
      <p-button icon="pi pi-camera" [disabled]="disabledCamara()" pTooltip="Test Captura" tooltipPosition="top"
        (onClick)="camara()" />
    </div>
    <div class="menu-item">
      <p-button icon="pi pi-wrench" [disabled]="disabledSetting()" pTooltip="Ajustes" tooltipPosition="right"
        (onClick)="ajustes()" />
    </div>

  </div>



  <div class="container">



    <div class="display">

      <div class="subdisplay2">
        <div class="title">
          <h1>Clasificadora de Huevos con IA</h1>
        </div>

        <div class="subdisplay">


          <div class="cards">

            <div class="camara">
              <div>
                <video #videoElement autoplay></video>
                <canvas #canvasElement style="display:none;"></canvas>

              </div>
            </div>


          </div>

          <div class="infoplus">

            <div class="dataciclo">
              <div class="contCiclos">
                <div class="ciclos">
                  @if (checkStart) {
                  <h2>Ciclos: {{ciclos}}/{{cantidadCiclos}}</h2>
                  }
                  @else {
                  <p-inputNumber [(ngModel)]="cantidadCiclos" mode="decimal" [showButtons]="true" prefix="Ciclos: "
                    inputId="minmax-buttons" [min]="1" [max]="100" />

                  }
                </div>
              </div>

              <div class="contCiclos" style="background: linear-gradient(101deg, #43C5F8 0%, #6793E3 100%);">
                <div class="ciclos">
                  <h2>Total: {{index}}</h2>
                </div>
              </div>

            </div>

            <div class="dataclass">
              <div class="clasificado">
                <div class="clasific">

                  @if (!isclasification) {
                  <h2>Clasificando:
                    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                  </h2>
                  }
                  @else {
                  <h2>Clasificado: {{clasification}}</h2>
                  }

                </div>
              </div>
            </div>


          </div>


        </div>


        <div class="grap">
          <div class="chartbutton">
            <p-button label="Barras" (onClick)="changeChart(1)" [disabled]="selectChart == 1" />
            <p-button label="Linea Tiempo" (onClick)="changeChart(2)" [disabled]="selectChart == 2" />
            <p-button label="Tabla" (onClick)="changeChart(3)" [disabled]="selectChart == 3" />
            <p-button label="IA" (onClick)="changeChart(4)" [disabled]="selectChart == 4" />
            <p-button label="Flow" (onClick)="changeChart(5)" [disabled]="selectChart == 5" />
          </div>
          <div class="chartchart">
            <div class="chartin">
              @switch (selectChart) {
              @case (1){
              <p-chart class="chart" type="bar" [data]="dataColumn" [options]="optionsColumn" />
              <!-- <button (click)="test()">te</button> -->
              }
              @case (2){
              <p-chart class="chart" type="line" [data]="dataLine" [options]="optionsLine" />
              <!-- <button (click)="test()">te</button> -->

              }
              @case (3){
              <div class="tablin">

                <p-table [scrollable]="true" sortMode="single" scrollHeight="300px"
                  [value]="this.dataService.readAll()">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Id</th>
                      <th>Categoria</th>
                      <th>% limpio</th>
                      <th>% sucio</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-clasificado>
                    <tr>
                      <td>{{ clasificado.id }}</td>
                      <td>{{ clasificado.categoria }}</td>
                      <td>{{ clasificado.limpio }}</td>
                      <td>{{ clasificado.sucio }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <!-- <button (click)="test()">t</button> -->
              }
              @case (4) {
              <div class="iacontent">

                <div class="tarjeta">
                  <h1>Limpio</h1>
                  <div class="card">
                    <h2>{{valorLimpio * 100 | number: '1.2-2'}}%</h2>
                  </div>
                </div>

                <div class="tarjeta">
                  <h1>Sucio</h1>
                  <div class="card">
                    <h2>{{valorSucio * 100 | number: '1.2-2'}}%</h2>
                  </div>
                </div>

                <div class="tarjeta">
                  <h1>Resultado</h1>
                  <div class="card">
                    <h2>{{valorResultado}}</h2>
                  </div>
                </div>

              </div>
              }
              @case (5) {
              <!-- <button (click)="onStepChange($event)">t</button> -->
              <p-stepper [(activeStep)]="activeStepIndex" [linear]="true" orientation="vertical">
                <p-stepperPanel header="Inicio">
                  <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column h-12rem">

                      <div class="tarjetaFlow">
                        Inicio del Flujo
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel>

                <!-- <p-stepperPanel header="Ciclo">
                  <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column h-12rem">

                      <div class="tarjetaFlow">
                        Ejecución del Ciclo {{index}}
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel> -->

                <p-stepperPanel header="Compuerta #1">
                  <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                    let-index="index2">

                    <div class="flex flex-column h-12rem">
                      <div class="tarjetaFlow">
                        Ejecución para la apertura y cierre de la compuerta #1 que permite el ingreso del huevo.
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Compuerta #2">
                  <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index2">

                    <div class="flex flex-column h-12rem">
                      <div class="tarjetaFlow">
                        Ejecución para la apertura y cierre de la compuerta #2 que permite el posicionamiento del huevo.
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="IA">
                  <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index2">
                    <div class="flex flex-column h-12rem">

                      <div class="tarjetaFlow">
                        Captura, Procesamiento de Imagen con IA Machine Learning en Tiempo Real y Clasificación acorde al peso.
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Salida">
                  <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index2">
                    <div class="flex flex-column h-12rem">

                      <div class="tarjetaFlow">
                        Huevo Clasificado como {{this.valorResultado}}, limpio {{this.valorLimpio * 100 | number: '1.2-2'}}% y sucio {{this.valorSucio * 100 | number: '1.2-2'}}%.
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Fin">
                  <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index2">
                    <div class="flex flex-column h-12rem">

                      <div class="tarjetaFlow">
                        Fin del Flujo, total de ciclos ejecutados {{this.ciclos}}
                      </div>
                    </div>

                  </ng-template>
                </p-stepperPanel>

              </p-stepper>
              }

              }
            </div>

          </div>
        </div>

      </div>



    </div>
    <div class="console">
      <!-- <button (click)="writeTerminal('as')">te</button> -->
      <!-- <p-terminal #terminal welcomeMessage="Consola Mando IA" prompt=">" /> -->
      <p-editor [(ngModel)]="text" #editor [readonly]="true" [style]="{ height: '96vh' }" />

    </div>
  </div>

</div>

<p-toast position="top-center" />


<p-dialog header="Ajustes" [modal]="true" [(visible)]="visible" [position]="'top'"
  [style]="{ width: '40rem' ,heigth: '800px'}">


  <div class="modalcontent">
    <div class="modalcamara">
      <h1>Seleccione la Camara</h1>
      <p-dropdown [options]="camaraDevices" [showClear]="true" [(ngModel)]="selectCamara" optionLabel="label"
        placeholder="Seleccione la camara" />

    </div>
    <div class="modalusb">
      <h1>Seleccione el puerto Com</h1>
      <p-dropdown [options]="usbDevices" [(ngModel)]="selectUsb" optionLabel="label"
        placeholder="Seleccione el puerto Com" />

    </div>
  </div>



  <div class="flex justify-content-end gap-2 dialogButtons">
    <p-button class="dialogButton" label="Cancelar" severity="secondary" (onClick)="visible = false" />
    <p-button class="dialogButton" label="Guardar" (onClick)="selectSettings()" />
  </div>
</p-dialog>