.content{
    background: red;    
    width: 100%;
    height: 100vh;
}

.header{
    background: blue;    
    width: 100%;
    height: 30vh;
}

.camera{
    background: green;    
}

.datainfo{
    background: aqua;    
}

.actionbutton{
    background: yellow;    
}

.container{
    background: rgb(192, 22, 101);    
    width: 100%;
    height: 70vh;
}

.data{
    background: rgb(233, 112, 31);    
}

.char{
    background: rgb(11, 241, 50);    
}

.table{
    background: rgb(89, 6, 114);    
}

.console{
    background: rgb(175, 106, 135);    
}


.p-terminal{
    background: rgb(0, 0, 0);   
    color: white;
    font-size: 14px; 
}